<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Recuperar contraseña</title>
</head>
<body class="bg-slate-800">

    <nav id="navbar" class="fixed top-0 right-0 left-0 bg-slate-700 h-16">
    </nav>

    <div id="container" class="h-screen flex justify-center items-center px-4">
        
    </div>
    
    <script src="/components/nav.js"></script>
    <script type="module" src="index.js"></script>
    <script type="module" src="../components/notification.js"></script>
</body>
</html>